[[source]]
name = "python_finance"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
alpha-vantage = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
selenium = "*"
pandas-datareader = "*"
flask = "*"
queue = "*"

[requires]
python_version = "3.7"

[scripts]
pyfi= "python main.py"